* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body,
.parent,
.red,
.blue {
  display: flex;
  align-items: center;
}

.parent,
.red,
.blue,
.yellow {
  border-style: ridge;
  border-width: 8px;
  background-color: transparent;
  box-shadow: 3px 3px 3px grey, inset 3px 3px 3px grey ;
}

.parent,
.blue {
  flex-direction: column;
}

.red,
.blue {
  justify-content: space-evenly;
}
body {
  justify-content: center;
  height: 100vh;
}

.parent {
  height: 95vh;
  width: 95%;
  border-color: lawngreen;
  justify-content: space-around;
}

.red {
  border-color: red;
  width: 98%;
}

.blue {
  border-color: deepskyblue;
  height: 85%;
}

.yellow {
  border-color: gold;
  width: 95%;
}

.red:nth-child(1),
.red:nth-child(4) {
  height: 15%;
}

.red:nth-child(4) {
  flex-direction: row-reverse;
}
.red:nth-child(2) {
  height: 10%;
}

.red:nth-child(2) .blue {
  width: 24%;
}

.red:nth-child(3) {
  height: 40%;
}

.red:nth-child(3) .blue:nth-child(1) {
  width: 24%;
}
.red:nth-child(3) .blue:nth-child(2) {
  width: 73%;
}

.red:nth-child(3) .blue:nth-child(2) .yellow:nth-child(1) {
  height: 75%;
}
.red:nth-child(3) .blue:nth-child(2) .yellow:nth-child(2) {
  height: 15%;
}

.red:nth-child(1) .blue:nth-child(1),
.red:nth-child(1) .blue:nth-child(3),
.red:nth-child(4) .blue:nth-child(1),
.red:nth-child(4) .blue:nth-child(3) {
  width: 25%;
}

.red:nth-child(1) .blue:nth-child(2),
.red:nth-child(4) .blue:nth-child(2) {
  width: 48%;
}

.red:nth-child(1) .blue:nth-child(3) .yellow,
.red:nth-child(4) .blue:nth-child(3) .yellow {
  height: 45%;
}
