.grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .grid__item {
        display: flex;
        border: 1px solid black;
        padding: 10px;
        justify-content: space-between;
      }

      .grid__txt {
        width: 50%;
      }

      .grid__rate {
        text-align: center;
        width: 30%;
      }