* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

body,
form,
.formsecond__row,
.row__item,
.captcha {
  display: flex;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0e0e0e;
}

form {
  width: 35%;
  height: 50%;
  background-color: #fff;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
}
label {
  cursor: pointer;
}
.formsecond__row .row__item {
  width: 30%;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
  font-family: Helvetica, sans-serif;
}

.formsecond__row input,
.formsecond__row textarea {
  height: 100%;
  border: #96b9ff 2px solid;
  outline: #96b9ff;
  resize: none;
}

.formsecond__row {
  align-items: flex-start;
}

.formsecond__row input[type="submit"] {
  border: black 2px solid;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#captcha {
  /* display: block; */
  width: 75%;
  /* margin-right: 15px; */
}

.captcha {
  width: 100px;
}

.captcha__img {
  display: flex;
  /* justify-content: space-around; */
  align-items: flex-start;
}

.captcha__img p {
  text-decoration: underline;
  margin-left: 5px;
}

.formsecond__row input[type="image"] {
  height: 80px;
  width: 45%;
  border: none;
  margin-top: -7px;
}
