* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  box-sizing: border-box;
}

body,
form,
.formsecond__row,
.row__item,
.captcha {
  display: flex;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #0e0e0e;
}

form {
  width: 35%;
  height: 50%;
  background-color: #fff;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  cursor: pointer;
}

.formsecond__row {
  align-items: flex-start;
  gap: 10px;
}

.formsecond__row .row__item {
  min-width: 30%;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: Helvetica, sans-serif;
}

.formsecond__row input,
.formsecond__row textarea {
  height: 100%;
  border: #96b9ff 2px solid;
  resize: none;
}

.formsecond__row input:focus,
.formsecond__row textarea:focus {
  border: unset;
  padding: 1px 0 1px 3px;
  outline-width: 2px;
  outline-color: #245fd6;
  outline-offset: 2px;
}

.formsecond__row input {
  width: 35%;
}

.formsecond__row textarea,
.formsecond__row .captcha {
  min-width: 65%;
}

.formsecond__row input[type="submit"] {
  width: auto;
  border: black 2px solid;
  padding: 3px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#captcha {
  margin-right: 1em;
  width: 15%;
}

.captcha__img {
  display: flex;
  align-items: flex-start;
}

.captcha__img a {
  color: currentColor;
  margin-left: 1em;
}

.formsecond__row input[type="image"] {
  height: 80px;
  width: 45%;
  border: none;
  margin-top: -8px;
}
